.head {
    background: #e3eaf3;
    text-transform: uppercase;
}

table {
    color: #778898;
}

th, td {
    padding: 10px;
}

tr:nth-child(odd) {
    background-color: #e3eaf3;
}

tr:nth-child(even) {
    background-color: #f2f6fa;
}

td:first-child {
    text-transform: capitalize;
}

td:nth-child(1), td:nth-child(2) {
    text-align: center;
}

tr:hover {
    background: #e2e5e9;
}