.frame1 {
    BACKGROUND-COLOR: #90cdaf;
    height: 90px;
    width: 200px;
}

.frame2 {
    content: '';
    position: absolute;
    display: block;
    left: 5px;
    top: 5px;
    BACKGROUND-COLOR: #60b88d;
    height: 90px;
    width: 200px;
    z-index: 20;
}

.frame3 {
    content: '';
    position: absolute;
    display: block;
    left: 10px;
    top: 10px;
    BACKGROUND-COLOR: #bfe3d1;
    height: 90px;
    width: 200px;
    z-index: -1;
}

.frame__test1 {
    background: #60B88D;
    width: 98%;
    height: 200px;
    box-shadow: 5px 5px 0 #90CDAF, 10px 10px 0 #BFE3D1;
}

.frame__test2 {
    background: #60B88D;
    width: 97%;
    height: 200px;
    position: relative;
}

.frame__test2::after, .frame__test2::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.frame__test2::after {
    background: #90CDAF;
    top: 5px;
    left: 5px;
}

.frame__test2::before {
    background: #BFE3D1;
    top: 10px;
    left: 10px;
}