html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    font-family: Helvetica;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.wrapper {
    max-width: 1152px;
    height: 55px;
    margin: 0 auto;
    padding: 0 0;
}

.header {
    background-color: #0067a3;
}

.header__container {
    display: flex;
    justify-content: space-between;
    padding: 3px;
}

.header__button {
    background-color: #ff5722;
    padding: 8px 20px;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    cursor: pointer;
    transition: all 250ms;
}

.main {
    display: flex;
    flex: 1;
    background: #0079bf
}



.list__button {
    background-color: #0067a3;
    border: 0;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    cursor: pointer;
    transition: all 250ms;
}

.list__button:active {
    transform: scale(0.9);
}

.header__text {
    padding-top: 5px;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
}

.header__section {
    display: flex;
    align-items: flex-start;
}

.menu__button {
    display: flex;
    align-items: center;
    background-color: #0067a3;
    border: 0;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    cursor: pointer;
    transition: all 250ms;
}


.footer {
    background-color: #0067a3;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    padding-top: 17px;
}

.footer__section {
    display: flex;
}

.footer__text {
    padding: 0 18px;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.menu__button_avatar {
    position: absolute;
    top: 4px;
}

.menu__button_vector {
    margin-left: 5px;

}

.context-menu {
    position: absolute;
    background: #EBECF0;
    border-radius: 5px;
    padding: 7px;
}

.context-menu__item {
    padding: 3px 0;
}

.context-menu__link {
    display: block;
    width: 80px;
    text-decoration: none;
    color: black;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 5px;

}

.context-menu__link:hover {
    background: grey;
}


.rotate {
    transform: rotate(180deg);
}

.main__table {
    background: #EBECF0;
    border-radius: 5px;
}

.board {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-around;
}

.board_button {
    border: 0;
    color: #5E6C84;
    cursor: pointer;
    font-size: 18px;
    line-height: 21px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.board_button:disabled {
    opacity: 0.25;
}

.board__title {
    margin-left: 12px;
}

.board__column {
    width: 300px;
    background: #EBECF0;
    border-radius: 10px;
    display: table;
    margin-top: 20px;
}

.board__task {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 20px;
    display: flex;
    cursor: crosshair;
}

.board__items {
    margin: 0 8px;
}

.board__field {
    display: none;
}

.button__field {
    display: none;
}

.board__field.active {
    display: block;
    margin-left: 12px;
}

.board__menu {
    position: absolute;
}

.board__menu-button {
    margin: 1px;
    border: 0;
    cursor: pointer;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.board__menu-button:hover {
    opacity: 0.9;
}