.background {
    background-color: green;
}

.background_Ordered {
    background-color: #ff5722
}

.background_image {
    background: url(https://mobimg.b-cdn.net/v3/fetch/91/91e6d05dd40773292292bad5a75e75db.jpeg);
}